<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Twitter real-time bug reporting</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/frontEnd.js"></script>
<!--
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
-->
        
        <style>
            .floatingAlertMessage {
                position: fixed;
                top: 45%;
                left: 50%;
                margin-left: -150px;
                width: 300px;
                z-index: 9999;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Twitter real-time bug reporting</a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="/visualization">Visualization</a></li>
                    </ul>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#tweets" data-toggle="pill">Tweets</a></li>
                        <li><a href="#superVectorTab" id="superVectorTabButton" data-toggle="pill">SuperVector</a></li>
                        <li><a href="#searchVectorTab" id="searchVectorTabButton" data-toggle="pill">Tweeter Track</a></li>
                        <li><a href="#noFeedbackTweetsTab" id="noFeedbackTweetsTabButton" data-toggle="pill">Tweets sin feedback</a></li>
                        <li><a href="#approvedTweetsTab" id="approvedTweetsTabButton" data-toggle="pill">Tweets aprobados</a></li>
                        <li><a href="#rejectedTweetsTab" id="rejectedTweetsTabButton" data-toggle="pill">Tweets rechazados</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- TAB-PANE: REAL TIME TWEETS -->
                        <div class="tab-pane active" id="tweets">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom:20px;">
                                    <button id="startStreaming" type="button" class="btn btn-success">Start Streaming</button>
                                    <button id="stopStreaming" type="button" class="btn btn-danger" disabled="disabled">Stop Streaming</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" style="overflow-y: scroll; height:500px;">
                                    <table id="tweetsTable" class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Tweet</th>
                                                <th>Similarity</th>
                                                <th>Date</th>
                                                <th>URL</th>
                                                <th style="width:82px;">Feedback</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- TAB-PANE: SUPER VECTOR -->
                        <div class="tab-pane" id="superVectorTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Norma: <span style="font-weight : bold;" id="normaSuperVector"></span>
                                    </p>

                                    <p>
                                        Keywords:
                                    </p>
                                    <table id="superVectorTable" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Keyword</th>
                                                <th>Frequency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- TAB-PANE: SEARCH VECTOR -->
                        <div class="tab-pane" id="searchVectorTab">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom:20px;">
                                    <input id="searchVectorKeywordInput" class="form-control" placeholder="New Keyword" style="width:200px; display:inline-block;">
                                    <button class="btn btn-sm btn-success" id="addSearchVectorKeywordBtn">Add</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="searchVectorTable" class="table table-bordered" style="width:400px;">
                                        <thead>
                                            <tr>
                                                <th>Search term</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- TAB-PANE: NO FEEDBACK TWEETS -->
                        <div class="tab-pane" id="noFeedbackTweetsTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination" id="paginationNoFeedbackTweets">
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="noFeedbackTweetsTable" class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Tweet</th>
                                                <th>Date</th>
                                                <th>URL</th>
                                                <th style="width:82px;">Feedback</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- TAB-PANE: APPROVED TWEETS -->
                        <div class="tab-pane" id="approvedTweetsTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination" id="paginationApprovedTweets">
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="approvedTweetsTable" class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Tweet</th>
                                                <th>Date</th>
                                                <th>URL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- TAB-PANE: REJECTED TWEETS -->
                        <div class="tab-pane" id="rejectedTweetsTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="pagination" id="paginationRejectedTweets">
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="rejectedTweetsTable" class="table table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>User</th>
                                                <th>Tweet</th>
                                                <th>Date</th>
                                                <th>URL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
